---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
  name: efs-sc
parameters:
  directoryPerms: "700"
  fileSystemId: {{ filesystemid }}
  provisioningMode: efs-ap
allowVolumeExpansion: true
provisioner: efs.csi.aws.com
reclaimPolicy: Delete
volumeBindingMode: Immediate
...
{% for id in [ 999, 1000, 1001 ] %}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
  name: uid-{{ id }}-sc
parameters:
  directoryPerms: "700"
  fileSystemId: {{ filesystemid }}
  provisioningMode: efs-ap
  directoryPerms: "700"
  gid: "{{ id }}"
  uid: "{{ id }}"
allowVolumeExpansion: true
provisioner: efs.csi.aws.com
reclaimPolicy: Delete
volumeBindingMode: Immediate
...
{% endfor %}
